{% extends 'travel/index.html' %}

{% block content %}

<div class="container">
    <center>
    <h1>LOGIN</h1>
    <br>
    <form method="POST" class="post-form" action="{% url 'user:main' %}">
        {% csrf_token %}
        <div class="form-label-group">
            <input name="email" type="email" id="email" class="form-control" placeholder="E-mail"
                value="{{ form.email.value|default_if_none:'' }}" required autofocus style="width: 300px">
            <label for="email"></label>
        </div>
        <br>
        <div class="form-label-group">
            <input name="password" type="password" id="password" class="form-control" placeholder="Password"
                value="{{ form.password.value|default_if_none:'' }}" required style="width: 300px">
            <label for="password"></label>
        </div>
            
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign In</button>
        <input class="btn btn-lg btn-secondary" type="submit" value="SIGN IN"></input>
    </form>
    <br>
    
    <nav>
        <a href="{% url 'user:find_id' %}">ID 찾기</a> |
        <a href="{% url 'user:find_pw' %}">PW 찾기</a> |
        <a href="{% url 'user:regist' %}">회원가입</a>
    </nav> 
    </center>
</div>
{% endblock%}