{% extends 'travel/index.html' %}

{% block content %}
<center>
<div class="login d-flex align-items-center py-5">
    <div class="col-md-9 col-lg-8 mx-auto" id="width-modify">
        <h3 class="login-heading mb-4">회원가입</h3>
        <form method="POST" class="post-form" action="{% url 'user:regist' %}">
            {% csrf_token %}

            <div class="form-label-group">
                <input name="email" type="text" id="email" class="form-control" placeholder="E-mail"
                    value="{{ form.email.value|default_if_none:'' }}" required autofocus style="width:300px">
                <label for="email">예시) ID@domain.com</label>
            </div>

            <div class="form-label-group">
                <input name="password1" type="password" id="password1" class="form-control" placeholder="비밀번호"
                    value="{{ form.password.value|default_if_none:'' }}" required style="width:300px">
                <label for="password1"></label>
            </div>

            <div class="form-label-group">
                <input name="password2" type="password" id="password2" class="form-control" placeholder="비밀번호 확인"
                    value="{{ form.password.value|default_if_none:'' }}" required style="width:300px">
                <label for="password2"></label>
            </div>

            <div class="form-label-group">
                <input name="username" type="text" id="username" class="form-control" placeholder="사용자 이름"
                    value="{{ form.username.value|default_if_none:'' }}" required style="width:300px">
                <label for="username"></label>
            </div>

            <div class="form-label-group">
                <input name="birth" type="text" id="birth" class="form-control" placeholder="생년월일"
                    value="{{ form.birth.value|default_if_none:'' }}" required style="width:300px">
                <label for="birth">'-'없이 8자리로 입력해주세요<br>예시)19001123</label>
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <br>
            <button class="btn btn-lg btn-info btn-block font-weight-bold" type="submit" style="width:200px">가입하기</button>
        </form>
    </div>
</div>
</center>
{% endblock%}