{% extends 'travel/index.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <script language="javascript">
        function validate() {
            var re = /^[a-zA-Z0-9]{4,12}$/ // 패스워드가 적합한지 검사할 정규식
            var re2 = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
            // 이메일이 적합한지 검사할 정규식
            var id = document.getElementById("uid");
            var pw = document.getElementById("upw");
            var email = document.getElementById("uemail");
            var num1 = document.getElementById("unum1");
            var num2 = document.getElementById("unum2");

            // ------------ 이메일 까지 -----------
            if(email.value=="") {
                alert("이메일을 입력해 주세요");
                email.focus();
                return false;
            }
            if(!check(re2, email, "적합하지 않은 이메일 형식입니다.")) {
                return false;
            }
            if(!check(re,pw,"패스워드는 4~12자의 영문 대소문자와 숫자로만 입력")) {
                return false;
            }
            if(join.upw.value != join.checkupw.value) {
                alert("비밀번호가 다릅니다. 다시 확인해 주세요.");
                join.checkupw.value = "";
                join.checkupw.focus();
                return false;
            }
            
            if(join.uname.value=="") {
                alert("이름을 입력해 주세요");
                join.uname.focus();
                return false;
            }
        }

        function check(re, what, message) {
            if(re.test(what.value)) {
                return true;
            }
            alert(message);
            what.value = "";
            what.focus();
            return false;
        }
    </script>
</head>
<form method="POST" class="post-form" action="{% url 'user:login' %}">
    <br>
    {% csrf_token %}
    <table border="1" align="center">
        <tr height="40">
            <td colspan="2" align="center">
            <font size="5"><b>회원 기본 정보</b></font></td>
        </tr>
        <tr height="50">
            <td align="center"><b>이메일</td>
            <td><input type="text" name="email" size="30"></input><br>&nbsp예) id@domain.com</td>
        </tr>

        <tr height="50">
            <td align="center"><b>비밀번호</td>
            <td><input type="password" name="pw" size="30" maxlength="12"></input><br>&nbsp4~12자의 영문 대소문자, 숫자 조합</td>
        </tr>

        <tr height="50">
            <td align="center"><b>비밀번호확인</td>
            <td><input type="password" name="checkpw" size="30" maxlength="12"></td>
        </tr>
        <tr height="50">
            <td align="center"><b>이름</td>
            <td><input type="text" name="uname" size="30"></input></td>
        </tr>

        <tr height="50">
            <td align="center"><b>생년월일</td>
            <td><input type="text" name="year" id="year" size="10"></input>년
                <select name="month" id="month">
                <OPTION>1</OPTION>
                <OPTION>2</OPTION>
                <OPTION>3</OPTION>
                <OPTION>4</OPTION>
                <OPTION>5</OPTION>
                <OPTION>6</OPTION>
                <OPTION>7</OPTION>
                <OPTION>8</OPTION>
                <OPTION>9</OPTION>
                <OPTION>10</OPTION>
                <OPTION>11</OPTION>
                <OPTION>12</OPTION>
                </SELECT>월
                <select name="day" id="day">
                <OPTION>1</OPTION>
                <OPTION>2</OPTION>
                <OPTION>3</OPTION>
                <OPTION>4</OPTION>
                <OPTION>5</OPTION>
                <OPTION>6</OPTION>
                <OPTION>7</OPTION>
                <OPTION>8</OPTION>
                <OPTION>9</OPTION>
                <OPTION>10</OPTION>
                <OPTION>11</OPTION>
                <OPTION>12</OPTION>
                <OPTION>13</OPTION>
                <OPTION>14</OPTION>
                <OPTION>15</OPTION>
                <OPTION>16</OPTION>
                <OPTION>17</OPTION>
                <OPTION>18</OPTION>
                <OPTION>19</OPTION>
                <OPTION>20</OPTION>
                <OPTION>21</OPTION>
                <OPTION>22</OPTION>
                <OPTION>23</OPTION>
                <OPTION>24</OPTION>
                <OPTION>25</OPTION>
                <OPTION>26</OPTION>
                <OPTION>27</OPTION>
                <OPTION>28</OPTION>
                <OPTION>29</OPTION>
                <OPTION>30</OPTION>
                <OPTION>31</OPTION>
                </select>일
            </td>
        </tr>
    </table>

    <br>
    <p align="center">
        <!--<input type="submit" name="submit" value="회원 가입"></input>-->
        <button  class="btn" type="submit" name="submit" value="회원 가입"></button>
        <input type="reset" name="reset" value="다시 입력"></input>
    </p>
</form>

{% endblock%}
