{% extends 'travel/index.html' %}

{% block content %}
<div class="login d-flex align-items-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto" id="width-modify">
                <h3 class="login-heading mb-4">Welcome to CrimeCity</h3>
                <form method="POST" class="post-form" action="{% url 'login:login' %}">
                    {% csrf_token %}
                    <div class="form-label-group">
                        <input name="username" type="text" id="usr" class="form-control" placeholder="Username"
                            value="{{ form.username.value|default_if_none:'' }}" required autofocus>
                        <label for="usr">Username</label>
                    </div>
                    <div class="form-label-group">
                        <input name="password" type="password" id="inputPassword" class="form-control"
                            placeholder="Password" value="{{ form.password.value|default_if_none:'' }}" required>
                        <label for="inputPassword">Password</label>
                    </div>

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <!-- 필드 오류를 출력한다. -->
                                <div class="alert alert-danger">
                                    <strong>{{ field.label }}</strong>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <!-- 넌필드 오류를 출력한다. -->
                            <div class="alert alert-danger">
                                <strong>{{ error }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign In</button>
                    <!-- <div class="text-center"> Forgot password? </div> -->
                </form>
                <div class="reg-btn">
                    <a href="{% url 'login:signUp' %}"><button class="btn btn-lg btn-info btn-block btn-login text-uppercase font-weight-bold mb-2" type="link">Sign Up</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}