{% extends 'travel/index.html' %}

{% block content %}
{% load static %}

<div id="uploading">
    <h2>이미지 업로드</h2>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="submit" type="submit" class="btn btn-fill btn-primary" value="upload">
        업로드하기</button>
    </form>
</div>

<div class="typography-line" style="padding-left:0; display:None;" id="loading">
    <img src="{% static 'img/loading_3.gif' %}">
</div>

<div id="movetonext" style="display:None;">
    <a href="{% url 'upload' %}" class="btn btn-lg btn-secondary">지도에서 확인하기</a>
</div>

<div id="showing">
    <br>
    {% if uploaded_file_url %}
        <img src="{{ uploaded_file_url }}">
    {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $("").click(function(e) {
        e.preventDefault();
        var form = $("form")[0];
        var formData = new FormData(form);
        $.ajax({
            cache : false,
            type: "POST",
            url: "uimage/",
            processData: false,
            contentType: false,
            data : formData,
            success:function(data){
                console.log('here')
                $("#uploading").hide();
                $("#showing").show(data);
                $("#movetonext").show();
            },
            beforeSend:function(){
                console.log('beforesend')
                $("#loading").show();
                $("#uploading").hide();
            },
            complete:function(){
                console.log('complete')
                $("#loading").hide();
            },
        });
    });
</script>

{% endblock%}