{% extends 'travel/index.html' %}

{% block content %}
    
    <ul class="list">
    <center>
        <table border='1'>
            {% for post in posts %}
                <tr><td style="width: 580px"><br>
                    <h3><a href="post/{{ post.pk }}">{{ post.title }}</a></h3>
                    <div class="info">
                        <div class="published-date"><span>Date | </span>{{ post.published_date }}</div>
                        <div class="author"><span>Author | </span>{{ post.author }}</div><br>
                    </div>
                </td></tr>
            {% endfor %}
        </table>
    </center>
    </ul>

{% endblock%}
