{% extends 'travel/index.html' %}

{% block content %}
{% load static %}

<h3>loading page</h3>   
<script src="{% static 'js/jquery.min.js' %}"></script>

<script type="text/javascript"></script>
<script>
    function loading(){
        $.ajax({
            cache : false,
            type: "GET",
            url: "loading/",
            
            success:function(result){
                $("#spinner-box").hide();
                
                $("#analysis_btn").hide();
            },

            beforeSend:function(){
                $("#analysis_btn").show();
            },

            complete:function(){
                $("#loading").show();
                $("#suck").show();
            },

            error : function(jqXHR, textStatus, errorThrown ){
                alert( textStatus );
                alert( errorThrown );
            }
        });
    }
</script>
<br>

<div class="typography-line" id="analysis_btn">
    <button type="button" onclick="loading();" class="btn btn-fill btn-primary">로딩
    </button>
</div>

<div class="typography-line" style="padding-left:0; display:None;" id="loading">
    <img src="{% static 'img/loading_3.gif' %}">
</div>

<div id="spinner-box" class="text-center mt-3">
    <div class="spinner-border text-primary" role="status"></div>
</div>

<div id="suck" class="text-center mt-3">
여기가 나와요
</div>
{% endblock%}