{% extends 'travel/index.html' %}

{% block content %}
<head>
    <style type="text/css">
         /* nav tag */
         nav ul{padding-top:10px;}                     /*  상단 여백 10px  */
         nav ul li {
            display:inline;                         /*  세로나열을 가로나열로 변경 */
            border-left:1px solid #999;             /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */

            padding:0 10px;                         /* 각 메뉴 간격 */
            color: white;
        }
         nav ul li:first-child{border-left:none;}     /* 메뉴 분류중 제일 왼쪽의 "|"는 삭제       
    </style>
</head>
<body>   
    <nav>
        <ul>
            <li><a href="#">ID 찾기</a></li>
            <li><a href="#">PW 찾기</a></li>
            <li><a href="{% url 'regist' %}">회원가입</a></li>
            
        </ul>   
    </nav>   
</body>

{% endblock%}
