{% extends 'travel/index.html' %}

{% block content %}
<style>

.button {
	text-align: center;
	outline: none;
    background-color: #8ccceb;
	color: #fff;
    border-radius: 10px;
}

.button:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

</style>
<body>
<h2>원하는 지역을 선택하세요</h2><br>
    <center><table border='0' style="width:1350px;">
        <tr align ="center">
            <td>
                <form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="서울" id="region_data">
                    <input type="hidden" name="attr_data" value="광화문광장" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="서울 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="인천" id="region_data">
                    <input type="hidden" name="attr_data" value="인천차이나타운" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="인천 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="대전" id="region_data">
                    <input type="hidden" name="attr_data" value="엑스포과학공원 한빛탑" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="대전 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="대구" id="region_data">
                    <input type="hidden" name="attr_data" value="디아크문화관" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="대구 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="부산" id="region_data">
                    <input type="hidden" name="attr_data" value="자갈치시장" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="부산 추천 관광코스">
                </form>
            </td>
        </tr>
        <tr style="height:40px;"></tr>
        <tr align ="center">
            <td>
                <form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="울산" id="region_data">
                    <input type="hidden" name="attr_data" value="소망우체통" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="울산 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="광주" id="region_data">
                    <input type="hidden" name="attr_data" value="국립5.18민주묘지" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="광주 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="제주" id="region_data">
                    <input type="hidden" name="attr_data" value="방주교회" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="제주 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="경기" id="region_data">
                    <input type="hidden" name="attr_data" value="판문점" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="경기 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="강원" id="region_data">
                    <input type="hidden" name="attr_data" value="썬크루즈리조트엔호텔" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="강원 추천 관광코스">
                </form>
            </td>
        </tr>
        <tr style="height:40px;"></tr>
        <tr align ="center">
            <td>
                <form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="충남" id="region_data">
                    <input type="hidden" name="attr_data" value="석조미륵보살" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="충남 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="충북" id="region_data">
                    <input type="hidden" name="attr_data" value="법주사" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="충북 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="전남" id="region_data">
                    <input type="hidden" name="attr_data" value="보성녹차밭" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="전남 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="전북" id="region_data">
                    <input type="hidden" name="attr_data" value="전동성당" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="전북 추천 관광코스">
                </form>
            </td>
            <td><form method="post" action="{% url 'recommend'%}" id="create" style="font-size:150%;">
                    {% csrf_token %}
                    <input type="hidden" name="region_data" value="경북" id="region_data">
                    <input type="hidden" name="attr_data" value="안압지" id="attr_data">
                    <input type="submit" class="button" style="width:250px; height: 70px" value="경북 추천 관광코스">
                </form>
            </td>
        </tr>
    </table></center>
</body>

{% endblock%}