{% extends 'travel/index.html' %}

{% block content %}
{% load static %}<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<body>
    <div class="container mt-3" style="font-size:110%;"><center>
        <ul class="nav nav-tabs" style="width:1040px;">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#seoul">서울</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#incheon">인천</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#daejeon">대전</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#daegu">대구</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#busan">부산</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#ulsan">울산</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gwangju">광주</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#jeju">제주</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gyeonggi">경기</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kangwon">강원</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chungnam">충남</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chungbuk">충북</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#jeonnam">전남</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#jeonbuk">전북</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gyeongbuk">경북</a></li>
        </ul>
    </center></div>

    <div class="tab-content"><br>
        <div id="seoul" class="tab-pane active" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp서울 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">청진옥</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.3</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">해장국</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎02-735-1690</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>서울 종로구 종로3길 32</td>
                    <td>영업시간</td><td colspan='3'>매일 00:00 ~ 24:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">평안도족발집</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.35</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">족발</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎02-2279-9759</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>서울 중구 장충동1가 62-16</td>
                    <td>영업시간</td><td colspan='3'>화~일 12:00 ~ 22:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">벽제갈비</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.4</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">한우갈비</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎02-415-5522</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>서울 송파구 방이동 205-8</td>
                    <td>영업시간</td><td colspan='3'>매일 11:30 ~ 21:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp서울 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">하늘공원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">서울 마포구 상암동 481-72</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">북촌 한옥마을</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">서울 종로구 북촌로11길 49</td>
                </tr>
            </table></center>
        </div>

        <div id="incheon" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp인천 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">만다복</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.23</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">하얀짜장</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎032-773-3838</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>인천 중구 북성동2가 9-11</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00 ~ 21:30</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">백합칼국수</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.34</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">칼국수</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎032-831-5655</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>인천 연수구 센트럴로 263</td>
                    <td>영업시간</td><td colspan='3'>매일 10:00 ~ 21:30</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">뉴욕베이글</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.44</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">베이글</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎032-834-4785</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>인천 연수구 컨벤시아대로 116</td>
                    <td>영업시간</td><td colspan='3'>매일 07:30 ~ 20:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp인천 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">아라뱃길</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">인천 계양구 선주지동 305-77</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">인천대공원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">인천 남동구 무네미로 236</td>
                </tr>
            </table></center>
        </div>

        <div id="daejeon" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp대전 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">오씨칼국수</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐3.8</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">칼국수</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎042-861-9972</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>대전 유성구 엑스포로151번길 19</td>
                    <td>영업시간</td><td colspan='3'>매일 11:30 ~ 20:30</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">성심당 DCC점</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.0</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">베이커리</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎1588-8069</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>대전 유성구 엑스포로 107</td>
                    <td>영업시간</td><td colspan='3'>매일 08:00 ~ 22:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">라쿠엔</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.78</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">초밥</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎042-273-0600</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>대전 유성구 엑스포로97번길 40</td>
                    <td>영업시간</td><td colspan='3'>매일 12:00 ~ 22:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp대전 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">갑천 해바라기 단지</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">대전광역시 유성구 도룡동</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">대동 하늘공원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">대전광역시 동구 자양동 20-9</td>
                </tr>
            </table></center>
        </div>

        <div id="daegu" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp대구 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">강정산마루</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐3.98</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">닭도리탕</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎053-585-8588</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>대구 달성군 다사읍 강정본길 38</td>
                    <td>영업시간</td><td colspan='3'>매일 10:00 ~ 21:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">대구식당</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.44</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">잉어찜</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎053-591-2323</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>대구 달성군 다사읍 강정본길 83</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00 ~ 22:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">스카이파크</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.46</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">파스타</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎053-582-5533</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>대구 달성군 다사읍 강정본길 74</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00 ~ 23:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp대구 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">수성못</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">대구 수성구 무학로 78</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">두류공원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">대구 달서구 두류동 산 310-9</td>
                </tr>
            </table></center>
        </div>

        <div id="busan" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp부산 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">삼송초밥</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.28</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">초밥</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎051-245-7870</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>부산 중구 광복로55번길 13</td>
                    <td>영업시간</td><td colspan='3'>월~토 11:00~21:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">백화양곱창</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.33</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">곱창</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎051-245-0105</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>부산 중구 자갈치로23번길 6</td>
                    <td>영업시간</td><td colspan='3'>매일 12:00 ~ 24:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">이재모피자</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.46</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">피자</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎051-245-1478</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>부산 중구 광복중앙로 31 중앙아파트상가</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00 - 21:30</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp부산 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">감천문화마을</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">부산 사하구 감내1로 200</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">더베이101</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">부산 해운대구 동백로 52</td>
                </tr>
            </table></center>
        </div>

        <div id="ulsan" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp울산 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">뜨락전통손칼국수</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.3</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">칼국수</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎052-238-8839</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>울산 울주군 서생면 해맞이로 1257</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00 ~ 20:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">동은식당</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐3.9</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">복어</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎052-267-1222</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>울산 남구 장생포고래로 265</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00 ~ 22:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">팔도낙지촌</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.22</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">낙지요리</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎052-266-3522</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>울산 남구 장생포고래로 233</td>
                    <td>영업시간</td><td colspan='3'>매일 09:30 ~ 21:30</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp울산 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">태화강국가정원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">울산 중구 태화동 107</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">영남알프스</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">울산 울주군 상북면 알프스온천5길 103-8</td>
                </tr>
            </table></center>
        </div>

        <div id="gwangju" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp광주 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">백두산</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.3</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">양꼬치</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎062-381-5158</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>광주 서구 내방로209번길 10</td>
                    <td>영업시간</td><td colspan='3'>매일 13:00 ~ 01:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">나나방콕</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.32</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">태국음식</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎062-381-7500</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>광주 서구 상무자유로 180</td>
                    <td>영업시간</td><td colspan='3'>매일 11:30 ~ 22:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">상무초밥</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.0</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">초밥</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎062-385-9200</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>광주 서구 운천로 253</td>
                    <td>영업시간</td><td colspan='3'>매일 11:30 ~ 23:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp광주 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">펭귄마을</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">광주 남구 천변좌로446번길 7</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">원효사</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">광주 북구 무등로 1514-35</td>
                </tr>
            </table></center>
        </div>

        <div id="jeju" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp제주 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">우진해장국</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.42</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">해장국</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎064-757-3393</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>제주특별자치도 제주시 삼도2동 서사로 11</td>
                    <td>영업시간</td><td colspan='3'>매일 06:00 - 22:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">연돈</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.54</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">돈까스</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎064-738-1060</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>제주특별자치도 서귀포시 색달동 일주서로 968-10</td>
                    <td>영업시간</td><td colspan='3'>매일 12:00~20:00(월요일 휴무)</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">범일분식</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.42</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">순대국</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎0507-1405-5069</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>제주특별자치도 서귀포시 남원읍 태위로 658</td>
                    <td>영업시간</td><td colspan='3'>매일 09:00~17:00(토요일 휴무)</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp제주 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">큰엉전망대</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">제주특별자치도 서귀포시 남원읍 태위로 522-17</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">백약이오름</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">제주특별자치도 서귀포시 표선면 성읍리 산1</td>
                </tr>
            </table></center>
        </div>

        <div id="gyeonggi" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp경기 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">샘뜰두부집</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.21</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">두부요리</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎031-952-8010</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>경기 파주시 문산읍 사목로 227</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00 ~ 20:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">팔도사나이</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.32</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">토종닭백숙</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎031-335-3356</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>경기 용인시 처인구 동부로822번길 3-5</td>
                    <td>영업시간</td><td colspan='3'>매일 10:00 ~ 21:30</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">옥이네해장국</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.0</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">해장국</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎031-364-827</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>경기 안산시 단원구 엠티브이5로 11</td>
                    <td>영업시간</td><td colspan='3'>매일 10:00 ~ 19:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp광주 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">광교호수공원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">경기 수원시 영통구 하동 1020</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">비봉습지공원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">경기 화성시 비봉면 남이로 389</td>
                </tr>
            </table></center>
        </div>

        <div id="kangwon" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp강원 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">이촌쉼터</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.1</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">옹심이칼국수</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎033-336-4640</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>강원도 평창 대관령면 꽃밭양지길 405</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00 ~ 20:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">교동반점</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐3.7</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">짬뽕면</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎033-646-3833</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>강원도 강릉 교동 162-126</td>
                    <td>영업시간</td><td colspan='3'>매일 10:00 ~ 18:30</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">만석닭강정</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.3</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">닭강정</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎1577-9042</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>강원 속초시 청초호반로 72</td>
                    <td>영업시간</td><td colspan='3'>매일 10:00 ~ 20:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp강원 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">동명항</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">강원 속초시 동명동 1-249</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">효석달빛언덕</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">강원 평창군 봉평면 창동리 575-3</td>
                </tr>
            </table></center>
        </div>

        <div id="chungnam" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp충남 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">만나청국장</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.42</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">청국장</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎041-557-2090</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>충남 천안시 동남구 목천읍 동평3길 194</td>
                    <td>영업시간</td><td colspan='3'>월~토 09:00 ~ 19:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">병천전통순대</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.39</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">순대</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎041-565-2227</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>충남 천안시 동남구 목천읍 충절로 1166</td>
                    <td>영업시간</td><td colspan='3'>월~토 10:30 ~ 20:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">짜장마을</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐3.86</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">짜장면</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎041-587-5252</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>충남 천안시 동남구 목천읍 서리1길 46</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00 ~ 20:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp충남 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">청산수목원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">충남 태안군 남면 연꽃길 70</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">해미읍성</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">충청남도 서산시 해미면 남문2로 143</td>
                </tr>
            </table></center>
        </div>

        <div id="chungbuk" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp충북 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">동아리식당</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.2</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">불고기</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎043-542-5259</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>충북 보은군 속리산면 사내리 280-1</td>
                    <td>영업시간</td><td colspan='3'>매일 09:00-21:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">대성식당</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.0</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">능이백숙</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎043-543-4015</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>충북 보은군 속리산면 사내리 264</td>
                    <td>영업시간</td><td colspan='3'>매일 06:00-22:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">문장대식당</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐3.7</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">해장국</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎043-543-36552</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>충북 보은군 속리산면 법주사로 256</td>
                    <td>영업시간</td><td colspan='3'>매일 08:00-21:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp충북 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">중앙탑사적공원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">충북 충주시 가금면 탑평리 11</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">수한초 학교정원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">충청북도 보은군 수한면 소계리 17-2</td>
                </tr>
            </table></center>
        </div>

        <div id="jeonnam" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp전남 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">특미관</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.14</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">녹차떡갈비</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎0507-1340-4545</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>전남 보성군 보성읍 봉화로 53</td>
                    <td>영업시간</td><td colspan='3'>매일 09:00-22:30</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">춘운서옥</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.6</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">카페</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎010-2617-8889</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>전남 보성군 보성읍 송재로 211-9</td>
                    <td>영업시간</td><td colspan='3'>매일10:30-21:00(월요일 휴무)</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">황소식당</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.23</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">간장게장</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎061-642-8037</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>전남 여수시 봉산남3길 2</td>
                    <td>영업시간</td><td colspan='3'>매일 09:00-20:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp전남 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">율포해수욕장</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">전남 보성군 회천면 율포리</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">여수 이순신광장</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">전남 여수시 중앙동 385-6</td>
                </tr>
            </table></center>
        </div>
        <div id="jeonbuk" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp전북 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">화산물갈비</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.44</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">소물갈비</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎063-223-2778</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>전북 전주시 완산구 신촌4길 19 화산물갈비</td>
                    <td>영업시간</td><td colspan='3'>매일 11:30-23:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">두루미밥상</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.2</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">한식정식</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎063-251-8865</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>전북 전주시 덕진구 호성동2가 631-76</td>
                    <td>영업시간</td><td colspan='3'>매일 11:00-21:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">맘스브레드</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.3</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">튀김소보루</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎063-225-1108</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>전북 전주시 완산구 호암로 81</td>
                    <td>영업시간</td><td colspan='3'>매일 08:30 - 22:30</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp전북 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">전주수목원</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">전북 전주시 덕진구 번영로 462-45</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">전주 한옥마을</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">전북 전주시 완산구 기린대로 99</td>
                </tr>
            </table></center>
        </div>

        <div id="gyeongbuk" class="tab-pane" style="font-size:130%;">
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp경북 추천 맛집🍽</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:170px;">바다랑대게</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.19</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">대게요리</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎0507-1471-2122</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>경북 포항시 남구 호미곶면 해맞이로150번길 7</td>
                    <td>영업시간</td><td colspan='3'>매일 09:30 ~ 22:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">대릉원본가</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.8</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">보리밥</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎054-777-7896</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>경북 경주시 포석로1050번길 39-21</td>
                    <td>영업시간</td><td colspan='3'>매일 09:00 ~ 21:00</td>
                </tr>
                <tr style="height:30px;"></tr>
                <tr align ="center">
                    <td style="width:80px; height:50px;">이름</td>
                    <td style="width:150px;">경춘재</td>
                    <td style="width:80px;">별점</td><td style="width:100px;">⭐4.03</td>
                    <td style="width:120px;">대표메뉴</td>
                    <td style="width:150px;">떡갈비</td>
                    <td style="width:120px;">전화번호</td>
                    <td style="width:220px;">☎054-746-4750</td>
                </tr>
                <tr align ="center">
                    <td style="height:50px;">주소</td><td colspan='4'>경북 경주시 진현로2길 61-7</td>
                    <td>영업시간</td><td colspan='3'>매일 08:00 ~ 19:00</td>
                </tr>
            </table></center><br>
            <center><table border='1' bgcolor="#444444">
                <tr>
                    <td colspan='8'><p><h3>&nbsp&nbsp&nbsp경북 추천 포토존📷</h3></p></td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">영일대 해수욕장</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">경북 포항시 북구 두호동 685-1</td>
                </tr>
                <tr align ="center">
                    <td style="width:100px; height:50px;">장소</td>
                    <td style="width:200px;">동궁과 월지</td>
                    <td style="width:100px;">주소</td>
                    <td style="width:500px;">경상북도 경주시 인왕동 원화로 102</td>
                </tr>
            </table></center>
        </div>


    </div>
</body>
{% endblock%}