{% extends 'travel/index.html' %}

{% block content %}
{% load static %}

<form id="myForm" method="POST" class="post-form" enctype="multipart/form-data">
    <h2>이미지 업로드</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button id="submit" type="submit" class="btn btn-fill btn-primary">업로드하기</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    var place;
    var im_file;
    $("#submit").click(function(e) {
        e.preventDefault();
        var form = $("#myForm")[0]; 
        var formData = new FormData(form);
        $.ajax({
            cache : false,
            type: "POST",
            url: "uimage/",
            processData: false,
            contentType: false,
            data : formData,
            success:function(data){
                place = data["result"]
                console.log(place)
                im_file = data["file_url"]
                console.log(im_file)
                var show_img = "<img src='"+im_file+"'width=600px, height=400px>"
                $("#myForm").hide();
                $('#predict').html(place);
                $('#file_place').html(show_img);
                $('#js_data_input').val(place)
            },
            beforeSend:function(){
                console.log('beforesend')
                $("#loading").show();
                $("#myForm").hide();
            },
            complete:function(){
                console.log('complete')
                $("#showing").show();
                $("#movetonext").show();
                $("#loading").hide();
            },
        });
        return place
    });
</script>

<script>
    $('#js_data_input').val(place);
</script>

<div class="typography-line" style="padding-left:0; display:None;" id="loading">
    <h1>분&nbsp&nbsp석&nbsp&nbsp중</h1>
    <img src="{% static 'img/loading_4.gif' %}">
</div>

<div id="showing" style="display:None;">
    <div id="file_place"></div><br> 
    <p><h3><span>사진 속 장소는&nbsp</span>
        <span id="predict">
        </span>
        <span>(으)로 예측됩니다.</span></h3></p>
</div>


<div id="movetonext" style="display:None;"><center>
    <table><tr>
        <td>
        <a href="{% url 'uimage' %}" style="width:200px; font-weight:bold;" 
            class="btn btn-lg btn-primary btn-block font-weight-bold mb-2">다른 사진 업로드</a></td>
        <td>
        <form method="post" action="{% url 'getmap'%}" id="create">
            {% csrf_token %}
            <input type="hidden" name="result_data" value="" id="js_data_input">
            <input type="submit" name="submit" class="btn-lg btn-info btn-block font-weight-bold mb-2" 
                value="지도에서 확인하기">
        </form></td>
    </tr></table>
</center></div>

{% endblock%}