{% extends 'travel/index.html' %}

{% block content %}
{% load static %}

<style>
    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: red;
    }
    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }
</style>

<center>
<form id="myForm" method="POST" class="post-form" enctype="multipart/form-data">
    <div style="background-image: url(static/img/bgcolor.png); 
                background-size: 850px 500px; width:850px; height:500px;">
        {% csrf_token %}
        <table style="text-align: center;" border='0'>
            <tr><td colspan="2" style="height:110px;"></td></tr>
            <tr>
                <td colspan="2"><b><span style="font-size:200%;">궁금한 장소의 사진을 업로드 해주세요</b></td>
            </tr>
            <tr>
                <td style="height:25px;"></td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="image" accept="image/*" id="id_image" onchange="javascript:document.getElementById('submit').submit();" hidden />
                    <label for="id_image"><img src="{% static 'img/upload.png' %}" style="width: 500px; height: 220px;"></img></label>
                </td>
            </tr>
        </table>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    document.getElementById('id_image').onchange = function(e) {
        e.preventDefault();
        var form = $("#myForm")[0];
        var formData = new FormData(form);
        var place;
        $.ajax({
            cache : false,
            type: "POST",
            url: "uimage/",
            processData: false,
            contentType: false,
            data : formData,
            success:function(data){
                place = data["result"]
                var temp_place="unknown";
                console.log(place);
                console.log(typeof(place));
                console.log(temp_place);
                console.log(typeof(temp_place));    
                if (temp_place == place){
                    console.log('dhkdhdk')
                    var print_place="<span style='font-size:130%;'>분류가 어렵습니다.</span>";
                    $('#predict').html(print_place);
                }else{
                    console.log('여기요 여기')
                    var print_place="<span style='font-size:180%;'>"+place+"</span><span style='font-size:100%;'>(으)로 예측됩니다.</span>";
                    $('#predict').html(print_place);
                }

                im_file = data["file_url"]
                console.log(im_file)
                var show_img = "<img src='"+im_file+"'width=500px, height=300px>"
                $("#myForm").hide();
                $('#file_place').html(show_img);
                $('#js_data_input').val(place)
            },
            beforeSend:function(){
                console.log('beforesend')
                $("#loading").show();
                $("#myForm").hide();
            },
            complete:function(){
                console.log('complete')
                $("#showing").show();
                $("#movetonext").show();
                $("#loading").hide();
                $('#js_data_input').val(place);
            },
        });
        return place
    };

</script>

<script>
    
</script>

<div class="typography-line" style="padding-left:0; display:None;" id="loading">
    <h1>분&nbsp&nbsp석&nbsp&nbsp중</h1>
    <img src="{% static 'img/loading_4.gif' %}">
</div>

<div id="showing" style="display:None;">
    <br>
    <div style="border-radius: 2em; width:830px; height:550px; background-color: #444444;"><br><br>
        <div style="background-image: url(static/img/bgcolor.png); 
                        background-size: 545px 325px; width:545px; height:325px;">
            <div style="height:13px;"></div>
            <div id="file_place"></div>
        </div>
        <div style="height:15px;"></div>
        <p style="font-size:130%;"><span>사진 속 장소는&nbsp</span>
            <span id="predict"></span>
        </p>
    <div>
</div>
<div id="movetonext" style="display:None;"><center>
    <table><tr>
        <td>
            <a href="{% url 'uimage' %}" style="width:200px; font-weight:bold;" 
                class="btn btn-lg btn-primary btn-block font-weight-bold mb-2">다른 사진 업로드</a></td>
        <td style="width:30px;"></td>
        <td>
            <form method="post" action="{% url 'getmap'%}" id="create">
                {% csrf_token %}
                <input type="hidden" name="result_data" value="" id="js_data_input">
                <input type="submit" name="submit" class="btn-lg btn-info btn-block font-weight-bold mb-2" 
                    value="지도에서 확인하기">
            </form>
        </td>
    </tr></table>
</center></div>

</center>

{% endblock%}